@font-face{
    font-family:freesans;
    src:url("../fonts/freesans/freesans.ttf");
}
@font-face{
    font-family:freesansbold;
    src:url("../fonts/freesans/freesansbold.ttf")
}
@font-face{
    font-family: JosefinSans-SemiBold;
    src:url("../fonts/Josefin_Sans/JosefinSans-SemiBold.ttf")
}
@font-face{
    font-family: JosefinSans-Light;
    src:url("../fonts/Josefin_Sans/JosefinSans-Light.ttf")
}
div{
    border: 2px solid red;
    margin-left: 10px;
}